<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The C.C.</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="message_style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
</head>
<body>
    <div class="container">
        <div id="chat-box">
            <div class="msg">
                <p class="msg-sender-txt">John Boba:</p>
                <p class="msg-txt">Uh, what the fuck?</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
            <div class="msg">
                <p class="msg-sender-txt">Sally Shpoov:</p>
                <p class="msg-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sequi reiciendis sed unde vel ut laboriosam consectetur! Accusantium earum, cumque sunt, libero distinctio ipsum tenetur hic debitis quia voluptas minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio nulla odio nesciunt soluta aspernatur sunt consequuntur! Accusantium quae eveniet, pariatur aut sint fuga quo culpa, veritatis voluptate consectetur laboriosam.</p>
            </div>
        </div>
        <div id="control-panel">
            <div class="upper-container">
                <textarea placeholder="Username" required></textarea>
                <button id="send-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"><path fill="currentColor" d="M1.724 1.053a.5.5 0 0 0-.714.545l1.403 4.85a.5.5 0 0 0 .397.354l5.69.953c.268.053.268.437 0 .49l-5.69.953a.5.5 0 0 0-.397.354l-1.403 4.85a.5.5 0 0 0 .714.545l13-6.5a.5.5 0 0 0 0-.894l-13-6.5Z"/></svg>
                </button>
            </div>
            <div class="lower-container">
                <textarea placeholder="Say hello!" required></textarea>
            </div>
        </div>
    </div>
</body>
</html>