@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Space+Mono&display=swap');

.msg {
    background-color: rgb(25, 34, 59);
    background-color: rgba(30, 38, 59, 0.952);
    background-color: rgba(238, 255, 249, 0.952);
    width: fit-content;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
}

.msg p {
    display: inline-block;
    margin: 0px;
}

.msg .msg-sender-txt {
    color: rgb(45, 88, 82);
    font-size: larger;
    margin: 5px;
    font-weight: bold;
}

.msg .msg-txt {
    color: rgb(32, 68, 63);
    margin-left: 3px;
}